body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 60%;
    margin: 20px auto;
}
.content h1{
    width: 100%;
    text-align: center;
}
.error{
    width: 80%;
    background: pink;
    border-radius: 10px;
    margin: 20px auto;
    color: red;
    font-weight: bold;
    padding: 20px;
}
.searchbar{
    margin: 0 10px;
    width: calc(100% - 35px);
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    height: 36px;
}
.searchbar:focus{
    outline: none;
    border-bottom: 1px solid #000;
}
.button{
    width: 100%;
    background: royalblue;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.button:hover{
    background: darkblue;
}