body,
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    width: 60%;
    margin: 20px auto;
}
.content h1 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.error {
    width: 80%;
    background: pink;
    border-radius: 10px;
    margin: 20px auto;
    color: red;
    font-weight: bold;
    padding: 20px;
}
.searchbar {
    margin: 0 10px;
    width: calc(100% - 35px);
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    height: 36px;
}
.searchbar:focus {
    outline: none;
    border-bottom: 1px solid #000;
}
.button {
    width: 100%;
    background: royalblue;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.button:hover {
    background: darkblue;
}
.results {
    list-style: none;
    padding: 0;
}
.results li:first-child {
    margin: 15px 0;
}
.entry {
    width: 100%;
    border: 1px solid #eee;
    margin: 10px 0;
}
.entry a {
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 0;
}
.entry a:hover {
    background: #eee;
}
.entry a:active {
    background: #ddd;
}
.entry img {
    width: 150px;
    max-height: 120px;
    border: 2px solid #ccc;
    display: inline-block;
    margin: 10px;
    background: #fff;
}
.entry a:hover img {
    border: 2px solid #aaa;
}
.entry a:active img {
    border: 2px solid #777;
}
.entry section {
    width: calc(100% - 180px);
    vertical-align: top;
    display: inline-block;
}
.entry section h2 {
    font-size: 20px;
    margin: 10px 5px;
}
.entry section p {
    font-size: 16px;
    margin: 5px;
}
.entry > p {
    padding: 10px;
}
.pagination {
    width: 100%;
    text-align: center;
}
.pagination button {
    display: inline-block;
    padding: 5px 10px;
}
.pagination p {
    display: inline-block;
    padding: 0 10px;
}
